# Data Transformation Analysis

In [57]:
# Import required packages and setup function for df read
import pandas as pd

# Set pandas to display up to rows
pd.options.display.max_rows = 100

def import_data(file_path):
    df = pd.read_csv(file_path)
    return df

In [58]:
# Function to determine null values as percentage of total values in each column
def null_percentage(df):
    return df.isnull().mean() * 100

# Function to determine 0.0 values as percentage of total values in each column
def count_zeros(df):
    return (df == 0).mean() * 100

# Function to identify duplicate rows
def duplicate_rows(df):
    return df[df.duplicated()]

# Function to confirm data type of each column
def column_types(df):
    return df.dtypes

## Dataset 1: Global CO2 Emissions

In [59]:
df_co2 = import_data('../data/extract/data0.csv')

df_co2.drop(columns=['Unnamed: 0'], inplace=True, errors='ignore')
df_co2

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1750,AFG,2802560.0,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1751,AFG,NaN,NaN,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1752,AFG,NaN,NaN,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1753,AFG,NaN,NaN,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1754,AFG,NaN,NaN,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50186,Zimbabwe,2019,ZWE,15271377.0,2.514642e+10,0.473,0.031,10.263,-0.942,-8.411,...,NaN,0.106,0.001,0.001,0.002,0.0,34.348,17.531,-0.027,-0.261
50187,Zimbabwe,2020,ZWE,15526888.0,2.317871e+10,0.496,0.032,8.495,-1.768,-17.231,...,NaN,0.105,0.001,0.001,0.002,0.0,31.323,15.775,0.612,7.209
50188,Zimbabwe,2021,ZWE,15797220.0,2.514009e+10,0.531,0.034,10.204,1.709,20.120,...,NaN,0.104,0.001,0.001,0.002,0.0,33.549,17.599,0.539,5.280
50189,Zimbabwe,2022,ZWE,16069061.0,2.590159e+10,0.531,0.033,10.425,0.221,2.169,...,NaN,0.103,0.001,0.001,0.002,0.0,33.772,17.910,0.315,3.018
50190,Zimbabwe,2023,ZWE,16340829.0,NaN,0.531,0.032,11.164,0.739,7.090,...,NaN,0.102,0.001,0.001,0.002,0.0,33.955,18.608,NaN,NaN

In [60]:
countries = df_co2['country'].unique()
countries_count = len(countries)
countries_count

255

255 unique countries counted within dataset.

In [61]:
df_co2 = df_co2.groupby(['country', 'year']).agg('sum').reset_index()
df_co2

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1750,AFG,2802560.0,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000
1,Afghanistan,1751,AFG,0.0,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000
2,Afghanistan,1752,AFG,0.0,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000
3,Afghanistan,1753,AFG,0.0,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000
4,Afghanistan,1754,AFG,0.0,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50186,Zimbabwe,2019,ZWE,15271377.0,2.514642e+10,0.473,0.031,10.263,-0.942,-8.411,...,0.0,0.106,0.001,0.001,0.002,0.0,34.348,17.531,-0.027,-0.261
50187,Zimbabwe,2020,ZWE,15526888.0,2.317871e+10,0.496,0.032,8.495,-1.768,-17.231,...,0.0,0.105,0.001,0.001,0.002,0.0,31.323,15.775,0.612,7.209
50188,Zimbabwe,2021,ZWE,15797220.0,2.514009e+10,0.531,0.034,10.204,1.709,20.120,...,0.0,0.104,0.001,0.001,0.002,0.0,33.549,17.599,0.539,5.280
50189,Zimbabwe,2022,ZWE,16069061.0,2.590159e+10,0.531,0.033,10.425,0.221,2.169,...,0.0,0.103,0.001,0.001,0.002,0.0,33.772,17.910,0.315,3.018
50190,Zimbabwe,2023,ZWE,16340829.0,0.000000e+00,0.531,0.032,11.164,0.739,7.090,...,0.0,0.102,0.001,0.001,0.002,0.0,33.955,18.608,0.000,0.000

In [62]:
# Count of how many times each year is covered
years_covered = df_co2['year'].value_counts()
years_covered

year
2023    255
2006    255
2005    255
2004    255
2003    255
       ...
1779     58
1780     58
1781     58
1782     58
1750     58
Name: count, Length: 274, dtype: int64

In [63]:
# List which years appear 255 times in ascending order
full_years_covered = years_covered[years_covered == 255]
full_years_covered.sort_index(inplace=True)
full_years_covered

year
1994    255
1995    255
1996    255
1997    255
1998    255
1999    255
2000    255
2001    255
2002    255
2003    255
2004    255
2005    255
2006    255
2007    255
2008    255
2009    255
2010    255
2011    255
2012    255
2013    255
2014    255
2015    255
2016    255
2017    255
2018    255
2019    255
2020    255
2021    255
2022    255
2023    255
Name: count, dtype: int64

Rows exist for the years between 1994 and 2023 for all countries.
Dropping years outside this range for better comparability.

In [64]:
# Dropping years outside the range of 1994 to 2023
df_co2 = df_co2[df_co2['year'].between(1994, 2023)].reset_index(drop=True)
df_co2

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1994,AFG,16250799.0,7.919857e+09,0.047,0.003,1.454,-0.033,-2.227,...,0.0,0.087,0.000,0.000,0.001,0.0,12.282,4.159,0.000,0.000
1,Afghanistan,1995,AFG,17065836.0,1.230753e+10,0.047,0.003,1.417,-0.037,-2.511,...,0.0,0.085,0.000,0.000,0.001,0.0,13.319,4.321,0.000,0.000
2,Afghanistan,1996,AFG,17763265.0,1.207013e+10,0.047,0.003,1.370,-0.047,-3.332,...,0.0,0.084,0.000,0.000,0.001,0.0,15.723,4.425,0.000,0.000
3,Afghanistan,1997,AFG,18452100.0,1.185075e+10,0.047,0.003,1.304,-0.066,-4.814,...,0.0,0.083,0.000,0.000,0.001,0.0,18.584,4.466,0.000,0.000
4,Afghanistan,1998,AFG,19159996.0,1.169217e+10,0.047,0.002,1.279,-0.026,-1.967,...,0.0,0.082,0.000,0.000,0.001,0.0,17.581,4.528,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7645,Zimbabwe,2019,ZWE,15271377.0,2.514642e+10,0.473,0.031,10.263,-0.942,-8.411,...,0.0,0.106,0.001,0.001,0.002,0.0,34.348,17.531,-0.027,-0.261
7646,Zimbabwe,2020,ZWE,15526888.0,2.317871e+10,0.496,0.032,8.495,-1.768,-17.231,...,0.0,0.105,0.001,0.001,0.002,0.0,31.323,15.775,0.612,7.209
7647,Zimbabwe,2021,ZWE,15797220.0,2.514009e+10,0.531,0.034,10.204,1.709,20.120,...,0.0,0.104,0.001,0.001,0.002,0.0,33.549,17.599,0.539,5.280
7648,Zimbabwe,2022,ZWE,16069061.0,2.590159e+10,0.531,0.033,10.425,0.221,2.169,...,0.0,0.103,0.001,0.001,0.002,0.0,33.772,17.910,0.315,3.018
7649,Zimbabwe,2023,ZWE,16340829.0,0.000000e+00,0.531,0.032,11.164,0.739,7.090,...,0.0,0.102,0.001,0.001,0.002,0.0,33.955,18.608,0.000,0.000

Records dropped from 50191 to 7650 and will make for easier analysis

### Nulls

In [65]:
# Calculate null percentage of each column
nulls_co2 = pd.Series(null_percentage(df_co2))
# Due to dropping rows with null values, the nulls are now 0.0 so will be using that value to count null
nulls_co2 = pd.Series(count_zeros(df_co2))
nulls_co2

country                                       0.000000
year                                          0.000000
iso_code                                     14.509804
population                                    9.803922
gdp                                          37.699346
cement_co2                                   37.803922
cement_co2_per_capita                        38.169935
co2                                           4.705882
co2_growth_abs                               12.444444
co2_growth_prct                              12.274510
co2_including_luc                            17.254902
co2_including_luc_growth_abs                 18.823529
co2_including_luc_growth_prct                18.666667
co2_including_luc_per_capita                 17.254902
co2_including_luc_per_gdp                    32.392157
co2_including_luc_per_unit_energy            22.954248
co2_per_capita                                9.594771
co2_per_gdp                                  31.633987
co2_per_unit_energy                          17.424837
coal_co2                                     45.503268
coal_co2_per_capita                          46.418301
consumption_co2                              44.078431
consumption_co2_per_capita                   48.261438
consumption_co2_per_gdp                      48.901961
cumulative_cement_co2                        35.973856
cumulative_co2                                8.026144
cumulative_co2_including_luc                 17.254902
cumulative_coal_co2                          41.437908
cumulative_flaring_co2                       51.869281
cumulative_gas_co2                           47.241830
cumulative_luc_co2                           19.607843
cumulative_oil_co2                            8.732026
cumulative_other_co2                         76.862745
energy_per_capita                            19.568627
energy_per_gdp                               39.163399
flaring_co2                                  58.156863
flaring_co2_per_capita                       59.137255
gas_co2                                      48.640523
gas_co2_per_capita                           49.019608
ghg_excluding_lucf_per_capita                18.431373
ghg_per_capita                               18.039216
land_use_change_co2                          21.189542
land_use_change_co2_per_capita               21.555556
methane                                      15.686275
methane_per_capita                           18.039216
nitrous_oxide                                15.856209
nitrous_oxide_per_capita                     17.660131
oil_co2                                       8.732026
oil_co2_per_capita                            9.699346
other_co2_per_capita                         76.862745
other_industry_co2                           76.967320
primary_energy_consumption                   19.202614
share_global_cement_co2                      38.104575
share_global_co2                             15.921569
share_global_co2_including_luc               22.483660
share_global_coal_co2                        51.137255
share_global_cumulative_cement_co2           36.771242
share_global_cumulative_co2                  19.464052
share_global_cumulative_co2_including_luc    25.006536
share_global_cumulative_coal_co2             49.725490
share_global_cumulative_flaring_co2          54.287582
share_global_cumulative_gas_co2              51.803922
share_global_cumulative_luc_co2              27.019608
share_global_cumulative_oil_co2              13.437908
share_global_cumulative_other_co2            77.254902
share_global_flaring_co2                     58.392157
share_global_gas_co2                         50.601307
share_global_luc_co2                         24.013072
share_global_oil_co2                         11.647059
share_global_other_co2                       77.124183
share_of_temperature_change_from_ghg         17.660131
temperature_change_from_ch4                  56.039216
temperature_change_from_co2                  47.320261
temperature_change_from_ghg                  39.281046
temperature_change_from_n2o                  82.274510
total_ghg                                    15.686275
total_ghg_excluding_lucf                     16.078431
trade_co2                                    48.888889
trade_co2_share                              49.032680
dtype: float64

Significant null values contained in the original dataset.
ISO country codes are used to identify countries in the dataset.

In [66]:
# Display values with ISO code 0 to identify potential issues
df_co2[df_co2['iso_code'] == 0]

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
30,Africa,1994,0,7.145027e+08,0.000000e+00,24.884,0.035,790.234,83.792,11.861,...,0.0,8.217,0.035,0.045,0.086,0.006,3395.308,1522.475,-74.274,-9.399
31,Africa,1995,0,7.326955e+08,0.000000e+00,26.900,0.037,844.549,54.316,6.873,...,0.0,8.275,0.036,0.046,0.088,0.006,3460.717,1632.852,-92.724,-10.979
32,Africa,1996,0,7.514737e+08,0.000000e+00,27.419,0.037,872.284,27.735,3.284,...,0.0,8.333,0.037,0.047,0.090,0.006,3541.379,1734.621,-120.434,-13.807
33,Africa,1997,0,7.703847e+08,0.000000e+00,27.539,0.036,893.938,21.654,2.482,...,0.0,8.378,0.038,0.048,0.092,0.006,3588.715,1721.831,-121.838,-13.629
34,Africa,1998,0,7.899817e+08,0.000000e+00,28.570,0.036,912.482,18.544,2.074,...,0.0,8.435,0.039,0.049,0.094,0.006,3699.745,1732.580,-93.231,-10.217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7555,World,2019,0,7.811294e+09,1.221494e+14,1623.120,0.208,37104.273,373.850,1.018,...,100.0,100.000,0.401,1.090,1.571,0.080,52796.523,43147.367,0.004,0.000
7556,World,2020,0,7.887001e+09,1.185900e+14,1638.271,0.208,35126.527,-1977.750,-5.330,...,100.0,100.000,0.406,1.107,1.595,0.081,50792.543,41394.840,0.000,0.000
7557,World,2021,0,7.954448e+09,1.260048e+14,1696.308,0.213,36991.734,1865.208,5.310,...,100.0,100.000,0.411,1.125,1.619,0.083,52938.793,43391.352,0.004,0.000
7558,World,2022,0,8.021407e+09,1.301126e+14,1601.124,0.200,37293.836,302.100,0.817,...,100.0,100.000,0.417,1.143,1.644,0.084,53327.215,43746.762,0.004,0.000
7559,World,2023,0,8.091735e+09,0.000000e+00,1569.346,0.194,37791.570,497.738,1.335,...,100.0,100.000,0.422,1.161,1.668,0.085,53816.852,44114.785,-0.004,0.000

In [67]:
# Display list of countries with ISO code 0
df_co2[df_co2['iso_code'] == 0]['country'].unique()

array(['Africa', 'Africa (GCP)', 'Asia', 'Asia (GCP)',
       'Asia (excl. China and India)', 'Central America (GCP)', 'Europe',
       'Europe (GCP)', 'Europe (excl. EU-27)', 'Europe (excl. EU-28)',
       'European Union (27)', 'European Union (28)',
       'High-income countries', 'International aviation',
       'International shipping', 'International transport', 'Kosovo',
       'Kuwaiti Oil Fires', 'Kuwaiti Oil Fires (GCP)',
       'Least developed countries (Jones et al.)', 'Low-income countries',
       'Lower-middle-income countries', 'Middle East (GCP)',
       'Non-OECD (GCP)', 'North America', 'North America (GCP)',
       'North America (excl. USA)', 'OECD (GCP)', 'OECD (Jones et al.)',
       'Oceania', 'Oceania (GCP)', 'Ryukyu Islands',
       'Ryukyu Islands (GCP)', 'South America', 'South America (GCP)',
       'Upper-middle-income countries', 'World'], dtype=object)

In [68]:
# Countries with ISO code 0 identified as being aggregated
# Dropping all countries that do not have 
df_co2 = df_co2[df_co2['iso_code'] != 0]
df_co2

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1994,AFG,16250799.0,7.919857e+09,0.047,0.003,1.454,-0.033,-2.227,...,0.0,0.087,0.000,0.000,0.001,0.0,12.282,4.159,0.000,0.000
1,Afghanistan,1995,AFG,17065836.0,1.230753e+10,0.047,0.003,1.417,-0.037,-2.511,...,0.0,0.085,0.000,0.000,0.001,0.0,13.319,4.321,0.000,0.000
2,Afghanistan,1996,AFG,17763265.0,1.207013e+10,0.047,0.003,1.370,-0.047,-3.332,...,0.0,0.084,0.000,0.000,0.001,0.0,15.723,4.425,0.000,0.000
3,Afghanistan,1997,AFG,18452100.0,1.185075e+10,0.047,0.003,1.304,-0.066,-4.814,...,0.0,0.083,0.000,0.000,0.001,0.0,18.584,4.466,0.000,0.000
4,Afghanistan,1998,AFG,19159996.0,1.169217e+10,0.047,0.002,1.279,-0.026,-1.967,...,0.0,0.082,0.000,0.000,0.001,0.0,17.581,4.528,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7645,Zimbabwe,2019,ZWE,15271377.0,2.514642e+10,0.473,0.031,10.263,-0.942,-8.411,...,0.0,0.106,0.001,0.001,0.002,0.0,34.348,17.531,-0.027,-0.261
7646,Zimbabwe,2020,ZWE,15526888.0,2.317871e+10,0.496,0.032,8.495,-1.768,-17.231,...,0.0,0.105,0.001,0.001,0.002,0.0,31.323,15.775,0.612,7.209
7647,Zimbabwe,2021,ZWE,15797220.0,2.514009e+10,0.531,0.034,10.204,1.709,20.120,...,0.0,0.104,0.001,0.001,0.002,0.0,33.549,17.599,0.539,5.280
7648,Zimbabwe,2022,ZWE,16069061.0,2.590159e+10,0.531,0.033,10.425,0.221,2.169,...,0.0,0.103,0.001,0.001,0.002,0.0,33.772,17.910,0.315,3.018
7649,Zimbabwe,2023,ZWE,16340829.0,0.000000e+00,0.531,0.032,11.164,0.739,7.090,...,0.0,0.102,0.001,0.001,0.002,0.0,33.955,18.608,0.000,0.000

In [69]:
nulls_co2 = pd.Series(count_zeros(df_co2))
nulls_co2

country                                       0.000000
year                                          0.000000
iso_code                                      0.000000
population                                    0.917431
gdp                                          27.278287
cement_co2                                   35.351682
cement_co2_per_capita                        35.779817
co2                                           2.140673
co2_growth_abs                                6.605505
co2_growth_prct                               6.391437
co2_including_luc                            11.009174
co2_including_luc_growth_abs                 12.844037
co2_including_luc_growth_prct                12.660550
co2_including_luc_per_capita                 11.009174
co2_including_luc_per_gdp                    28.165138
co2_including_luc_per_unit_energy            17.645260
co2_per_capita                                2.354740
co2_per_gdp                                  27.278287
co2_per_unit_energy                          11.391437
coal_co2                                     44.296636
coal_co2_per_capita                          45.366972
consumption_co2                              47.033639
consumption_co2_per_capita                   47.033639
consumption_co2_per_gdp                      47.477064
cumulative_cement_co2                        33.211009
cumulative_co2                                1.437309
cumulative_co2_including_luc                 11.009174
cumulative_coal_co2                          40.000000
cumulative_flaring_co2                       51.498471
cumulative_gas_co2                           46.253823
cumulative_luc_co2                           13.761468
cumulative_oil_co2                            2.201835
cumulative_other_co2                         79.357798
energy_per_capita                            11.605505
energy_per_gdp                               28.990826
flaring_co2                                  58.853211
flaring_co2_per_capita                       60.000000
gas_co2                                      47.889908
gas_co2_per_capita                           48.165138
ghg_excluding_lucf_per_capita                10.550459
ghg_per_capita                               10.091743
land_use_change_co2                          15.611621
land_use_change_co2_per_capita               16.039755
methane                                      10.091743
methane_per_capita                           10.091743
nitrous_oxide                                10.290520
nitrous_oxide_per_capita                      9.648318
oil_co2                                       2.201835
oil_co2_per_capita                            2.415902
other_co2_per_capita                         79.357798
other_industry_co2                           79.480122
primary_energy_consumption                   11.177370
share_global_cement_co2                      35.703364
share_global_co2                             10.672783
share_global_co2_including_luc               17.125382
share_global_coal_co2                        50.886850
share_global_cumulative_cement_co2           34.143731
share_global_cumulative_co2                  14.755352
share_global_cumulative_co2_including_luc    20.076453
share_global_cumulative_coal_co2             49.694190
share_global_cumulative_flaring_co2          54.327217
share_global_cumulative_gas_co2              51.498471
share_global_cumulative_luc_co2              22.431193
share_global_cumulative_oil_co2               7.691131
share_global_cumulative_other_co2            79.816514
share_global_flaring_co2                     59.128440
share_global_gas_co2                         50.152905
share_global_luc_co2                         18.914373
share_global_oil_co2                          5.611621
share_global_other_co2                       79.663609
share_of_temperature_change_from_ghg         13.088685
temperature_change_from_ch4                  57.293578
temperature_change_from_co2                  47.094801
temperature_change_from_ghg                  37.691131
temperature_change_from_n2o                  87.981651
total_ghg                                    10.091743
total_ghg_excluding_lucf                     10.550459
trade_co2                                    47.492355
trade_co2_share                              47.477064
dtype: float64

In [70]:
# Display where population is 0.0
df_co2[df_co2['population'] == 0.0]

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
240,Antarctica,1994,ATA,0.0,0.0,0.0,0.0,0.015,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
241,Antarctica,1995,ATA,0.0,0.0,0.0,0.0,0.004,-0.011,-75.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
242,Antarctica,1996,ATA,0.0,0.0,0.0,0.0,0.004,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
243,Antarctica,1997,ATA,0.0,0.0,0.0,0.0,0.004,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
244,Antarctica,1998,ATA,0.0,0.0,0.0,0.0,0.004,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
245,Antarctica,1999,ATA,0.0,0.0,0.0,0.0,0.004,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
246,Antarctica,2000,ATA,0.0,0.0,0.0,0.0,0.004,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
247,Antarctica,2001,ATA,0.0,0.0,0.0,0.0,0.004,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
248,Antarctica,2002,ATA,0.0,0.0,0.0,0.0,0.004,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
249,Antarctica,2003,ATA,0.0,0.0,0.0,0.0,0.004,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
250,Antarctica,2004,ATA,0.0,0.0,0.0,0.0,0.007,0.004,100.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
251,Antarctica,2005,ATA,0.0,0.0,0.0,0.0,0.007,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
252,Antarctica,2006,ATA,0.0,0.0,0.0,0.0,0.007,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
253,Antarctica,2007,ATA,0.0,0.0,0.0,0.0,0.011,0.004,50.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
254,Antarctica,2008,ATA,0.0,0.0,0.0,0.0,0.000,-0.011,-100.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
255,Antarctica,2009,ATA,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
256,Antarctica,2010,ATA,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
257,Antarctica,2011,ATA,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
258,Antarctica,2012,ATA,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
259,Antarctica,2013,ATA,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
260,Antarctica,2014,ATA,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
261,Antarctica,2015,ATA,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
262,Antarctica,2016,ATA,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
263,Antarctica,2017,ATA,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
264,Antarctica,2018,ATA,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
265,Antarctica,2019,ATA,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
266,Antarctica,2020,ATA,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
267,Antarctica,2021,ATA,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
268,Antarctica,2022,ATA,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
269,Antarctica,2023,ATA,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1440,Christmas Island,1994,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1441,Christmas Island,1995,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1442,Christmas Island,1996,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1443,Christmas Island,1997,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1444,Christmas Island,1998,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1445,Christmas Island,1999,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1446,Christmas Island,2000,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1447,Christmas Island,2001,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1448,Christmas Island,2002,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1449,Christmas Island,2003,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1450,Christmas Island,2004,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1451,Christmas Island,2005,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1452,Christmas Island,2006,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1453,Christmas Island,2007,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1454,Christmas Island,2008,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1455,Christmas Island,2009,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1456,Christmas Island,2010,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1457,Christmas Island,2011,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1458,Christmas Island,2012,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1459,Christmas Island,2013,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1460,Christmas Island,2014,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1461,Christmas Island,2015,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1462,Christmas Island,2016,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1463,Christmas Island,2017,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1464,Christmas Island,2018,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1465,Christmas Island,2019,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1466,Christmas Island,2020,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1467,Christmas Island,2021,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1468,Christmas Island,2022,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1469,Christmas Island,2023,CXR,0.0,0.0,0.0,0.0,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [71]:
# No data from Antarctica or Christmas Island. Dropping these rows.
df_co2 = df_co2[~df_co2['country'].isin(['Antarctica', 'Christmas Island'])]
df_co2

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1994,AFG,16250799.0,7.919857e+09,0.047,0.003,1.454,-0.033,-2.227,...,0.0,0.087,0.000,0.000,0.001,0.0,12.282,4.159,0.000,0.000
1,Afghanistan,1995,AFG,17065836.0,1.230753e+10,0.047,0.003,1.417,-0.037,-2.511,...,0.0,0.085,0.000,0.000,0.001,0.0,13.319,4.321,0.000,0.000
2,Afghanistan,1996,AFG,17763265.0,1.207013e+10,0.047,0.003,1.370,-0.047,-3.332,...,0.0,0.084,0.000,0.000,0.001,0.0,15.723,4.425,0.000,0.000
3,Afghanistan,1997,AFG,18452100.0,1.185075e+10,0.047,0.003,1.304,-0.066,-4.814,...,0.0,0.083,0.000,0.000,0.001,0.0,18.584,4.466,0.000,0.000
4,Afghanistan,1998,AFG,19159996.0,1.169217e+10,0.047,0.002,1.279,-0.026,-1.967,...,0.0,0.082,0.000,0.000,0.001,0.0,17.581,4.528,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7645,Zimbabwe,2019,ZWE,15271377.0,2.514642e+10,0.473,0.031,10.263,-0.942,-8.411,...,0.0,0.106,0.001,0.001,0.002,0.0,34.348,17.531,-0.027,-0.261
7646,Zimbabwe,2020,ZWE,15526888.0,2.317871e+10,0.496,0.032,8.495,-1.768,-17.231,...,0.0,0.105,0.001,0.001,0.002,0.0,31.323,15.775,0.612,7.209
7647,Zimbabwe,2021,ZWE,15797220.0,2.514009e+10,0.531,0.034,10.204,1.709,20.120,...,0.0,0.104,0.001,0.001,0.002,0.0,33.549,17.599,0.539,5.280
7648,Zimbabwe,2022,ZWE,16069061.0,2.590159e+10,0.531,0.033,10.425,0.221,2.169,...,0.0,0.103,0.001,0.001,0.002,0.0,33.772,17.910,0.315,3.018
7649,Zimbabwe,2023,ZWE,16340829.0,0.000000e+00,0.531,0.032,11.164,0.739,7.090,...,0.0,0.102,0.001,0.001,0.002,0.0,33.955,18.608,0.000,0.000

In [72]:
nulls_co2 = pd.Series(count_zeros(df_co2))
nulls_co2

country                                       0.000000
year                                          0.000000
iso_code                                      0.000000
population                                    0.000000
gdp                                          26.604938
cement_co2                                   34.753086
cement_co2_per_capita                        35.185185
co2                                           1.450617
co2_growth_abs                                5.802469
co2_growth_prct                               5.586420
co2_including_luc                            10.185185
co2_including_luc_growth_abs                 12.037037
co2_including_luc_growth_prct                11.851852
co2_including_luc_per_capita                 10.185185
co2_including_luc_per_gdp                    27.500000
co2_including_luc_per_unit_energy            16.882716
co2_per_capita                                1.450617
co2_per_gdp                                  26.604938
co2_per_unit_energy                          10.787037
coal_co2                                     43.780864
coal_co2_per_capita                          44.861111
consumption_co2                              46.543210
consumption_co2_per_capita                   46.543210
consumption_co2_per_gdp                      46.990741
cumulative_cement_co2                        32.592593
cumulative_co2                                1.450617
cumulative_co2_including_luc                 10.185185
cumulative_coal_co2                          39.444444
cumulative_flaring_co2                       51.049383
cumulative_gas_co2                           45.756173
cumulative_luc_co2                           12.962963
cumulative_oil_co2                            1.512346
cumulative_other_co2                         79.166667
energy_per_capita                            10.787037
energy_per_gdp                               28.333333
flaring_co2                                  58.472222
flaring_co2_per_capita                       59.629630
gas_co2                                      47.407407
gas_co2_per_capita                           47.685185
ghg_excluding_lucf_per_capita                 9.722222
ghg_per_capita                                9.259259
land_use_change_co2                          14.830247
land_use_change_co2_per_capita               15.262346
methane                                       9.259259
methane_per_capita                            9.259259
nitrous_oxide                                 9.459877
nitrous_oxide_per_capita                      8.811728
oil_co2                                       1.512346
oil_co2_per_capita                            1.512346
other_co2_per_capita                         79.166667
other_industry_co2                           79.290123
primary_energy_consumption                   10.787037
share_global_cement_co2                      35.108025
share_global_co2                              9.845679
share_global_co2_including_luc               16.358025
share_global_coal_co2                        50.432099
share_global_cumulative_cement_co2           33.533951
share_global_cumulative_co2                  13.966049
share_global_cumulative_co2_including_luc    19.336420
share_global_cumulative_coal_co2             49.228395
share_global_cumulative_flaring_co2          53.904321
share_global_cumulative_gas_co2              51.049383
share_global_cumulative_luc_co2              21.712963
share_global_cumulative_oil_co2               6.836420
share_global_cumulative_other_co2            79.629630
share_global_flaring_co2                     58.750000
share_global_gas_co2                         49.691358
share_global_luc_co2                         18.163580
share_global_oil_co2                          4.737654
share_global_other_co2                       79.475309
share_of_temperature_change_from_ghg         12.283951
temperature_change_from_ch4                  56.898148
temperature_change_from_co2                  46.604938
temperature_change_from_ghg                  37.114198
temperature_change_from_n2o                  87.870370
total_ghg                                     9.259259
total_ghg_excluding_lucf                      9.722222
trade_co2                                    47.006173
trade_co2_share                              46.990741
dtype: float64

In [73]:
# Count zero values in gdp column for each country
df_co2[df_co2['gdp'] == 0.0].groupby('country').size().sort_values(ascending=False)

country
Andorra                30
Anguilla               30
Antigua and Barbuda    30
Bhutan                 30
Belize                 30
                       ..
Venezuela               1
Vietnam                 1
Yemen                   1
Zambia                  1
Zimbabwe                1
Length: 216, dtype: int64

In [74]:
# Count how many times each country has gdp == 0.0
zero_counts = df_co2[df_co2['gdp'] == 0.0].groupby('country').size()

# Drop where gdp of 0 for a country count is 30
df_co2 = df_co2[~df_co2['country'].isin(zero_counts[zero_counts == 30].index)]

In [75]:
df_co2[df_co2['gdp'] == 0.0].groupby('country').size().sort_values(ascending=False)

country
Afghanistan    1
Albania        1
Algeria        1
Angola         1
Argentina      1
              ..
Venezuela      1
Vietnam        1
Yemen          1
Zambia         1
Zimbabwe       1
Length: 164, dtype: int64

In [76]:
# Remaining countries with gdp == 0.0 count as only one per country
# Inserting mean of gdp for these countries
mean_gdp = df_co2[df_co2['gdp'] != 0.0].groupby('country')['gdp'].mean()
df_co2.loc[df_co2['gdp'] == 0.0, 'gdp'] = df_co2['country'].map(mean_gdp)
df_co2

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1994,AFG,16250799.0,7.919857e+09,0.047,0.003,1.454,-0.033,-2.227,...,0.0,0.087,0.000,0.000,0.001,0.0,12.282,4.159,0.000,0.000
1,Afghanistan,1995,AFG,17065836.0,1.230753e+10,0.047,0.003,1.417,-0.037,-2.511,...,0.0,0.085,0.000,0.000,0.001,0.0,13.319,4.321,0.000,0.000
2,Afghanistan,1996,AFG,17763265.0,1.207013e+10,0.047,0.003,1.370,-0.047,-3.332,...,0.0,0.084,0.000,0.000,0.001,0.0,15.723,4.425,0.000,0.000
3,Afghanistan,1997,AFG,18452100.0,1.185075e+10,0.047,0.003,1.304,-0.066,-4.814,...,0.0,0.083,0.000,0.000,0.001,0.0,18.584,4.466,0.000,0.000
4,Afghanistan,1998,AFG,19159996.0,1.169217e+10,0.047,0.002,1.279,-0.026,-1.967,...,0.0,0.082,0.000,0.000,0.001,0.0,17.581,4.528,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7645,Zimbabwe,2019,ZWE,15271377.0,2.514642e+10,0.473,0.031,10.263,-0.942,-8.411,...,0.0,0.106,0.001,0.001,0.002,0.0,34.348,17.531,-0.027,-0.261
7646,Zimbabwe,2020,ZWE,15526888.0,2.317871e+10,0.496,0.032,8.495,-1.768,-17.231,...,0.0,0.105,0.001,0.001,0.002,0.0,31.323,15.775,0.612,7.209
7647,Zimbabwe,2021,ZWE,15797220.0,2.514009e+10,0.531,0.034,10.204,1.709,20.120,...,0.0,0.104,0.001,0.001,0.002,0.0,33.549,17.599,0.539,5.280
7648,Zimbabwe,2022,ZWE,16069061.0,2.590159e+10,0.531,0.033,10.425,0.221,2.169,...,0.0,0.103,0.001,0.001,0.002,0.0,33.772,17.910,0.315,3.018
7649,Zimbabwe,2023,ZWE,16340829.0,2.304998e+10,0.531,0.032,11.164,0.739,7.090,...,0.0,0.102,0.001,0.001,0.002,0.0,33.955,18.608,0.000,0.000

In [77]:
# All gdp null values present
df_co2[df_co2['gdp'] == 0.0].groupby('country').size().sort_values(ascending=False)

Series([], dtype: int64)

In [78]:
nulls_co2 = pd.Series(count_zeros(df_co2))
nulls_co2

country                                       0.000000
year                                          0.000000
iso_code                                      0.000000
population                                    0.000000
gdp                                           0.000000
cement_co2                                   17.459350
cement_co2_per_capita                        18.028455
co2                                           0.000000
co2_growth_abs                                0.691057
co2_growth_prct                               0.670732
co2_including_luc                             1.219512
co2_including_luc_growth_abs                  1.321138
co2_including_luc_growth_prct                 1.239837
co2_including_luc_per_capita                  1.219512
co2_including_luc_per_gdp                     4.512195
co2_including_luc_per_unit_energy             5.223577
co2_per_capita                                0.000000
co2_per_gdp                                   3.333333
co2_per_unit_energy                           4.004065
coal_co2                                     28.373984
coal_co2_per_capita                          30.040650
consumption_co2                              30.182927
consumption_co2_per_capita                   30.182927
consumption_co2_per_gdp                      30.182927
cumulative_cement_co2                        15.813008
cumulative_co2                                0.000000
cumulative_co2_including_luc                  1.219512
cumulative_coal_co2                          24.918699
cumulative_flaring_co2                       38.089431
cumulative_gas_co2                           31.869919
cumulative_luc_co2                            1.829268
cumulative_oil_co2                            0.000000
cumulative_other_co2                         72.560976
energy_per_capita                             4.004065
energy_per_gdp                                5.609756
flaring_co2                                  47.825203
flaring_co2_per_capita                       49.349593
gas_co2                                      33.821138
gas_co2_per_capita                           34.186992
ghg_excluding_lucf_per_capita                 1.219512
ghg_per_capita                                0.609756
land_use_change_co2                           2.459350
land_use_change_co2_per_capita                2.500000
methane                                       0.609756
methane_per_capita                            0.609756
nitrous_oxide                                 0.609756
nitrous_oxide_per_capita                      0.609756
oil_co2                                       0.000000
oil_co2_per_capita                            0.000000
other_co2_per_capita                         72.560976
other_industry_co2                           72.723577
primary_energy_consumption                    4.004065
share_global_cement_co2                      17.906504
share_global_co2                              1.524390
share_global_co2_including_luc                2.581301
share_global_coal_co2                        36.158537
share_global_cumulative_cement_co2           17.012195
share_global_cumulative_co2                   2.560976
share_global_cumulative_co2_including_luc     4.166667
share_global_cumulative_coal_co2             34.105691
share_global_cumulative_flaring_co2          41.626016
share_global_cumulative_gas_co2              37.317073
share_global_cumulative_luc_co2               7.276423
share_global_cumulative_oil_co2               0.711382
share_global_cumulative_other_co2            73.170732
share_global_flaring_co2                     48.170732
share_global_gas_co2                         35.894309
share_global_luc_co2                          4.796748
share_global_oil_co2                          0.121951
share_global_other_co2                       72.967480
share_of_temperature_change_from_ghg          2.215447
temperature_change_from_ch4                  45.060976
temperature_change_from_co2                  31.280488
temperature_change_from_ghg                  19.898374
temperature_change_from_n2o                  84.410569
total_ghg                                     0.609756
total_ghg_excluding_lucf                      1.219512
trade_co2                                    30.792683
trade_co2_share                              30.772358
dtype: float64

In [79]:
# Display only columns with no null values
nulls_co2[nulls_co2 == 0]

country               0.0
year                  0.0
iso_code              0.0
population            0.0
gdp                   0.0
co2                   0.0
co2_per_capita        0.0
cumulative_co2        0.0
cumulative_oil_co2    0.0
oil_co2               0.0
oil_co2_per_capita    0.0
dtype: float64

In [80]:
# Store columns with no null values as completed dataframe
df_co2 = df_co2[nulls_co2[nulls_co2 == 0].index].reset_index(drop=True)
df_co2

,country,year,iso_code,population,gdp,co2,co2_per_capita,cumulative_co2,cumulative_oil_co2,oil_co2,oil_co2_per_capita
0,Afghanistan,1994,AFG,16250799.0,7.919857e+09,1.454,0.089,64.941,33.346,1.032,0.064
1,Afghanistan,1995,AFG,17065836.0,1.230753e+10,1.417,0.083,66.358,34.357,1.011,0.059
2,Afghanistan,1996,AFG,17763265.0,1.207013e+10,1.370,0.077,67.728,35.343,0.986,0.055
3,Afghanistan,1997,AFG,18452100.0,1.185075e+10,1.304,0.071,69.032,36.292,0.949,0.051
4,Afghanistan,1998,AFG,19159996.0,1.169217e+10,1.279,0.067,70.311,37.234,0.942,0.049
...,...,...,...,...,...,...,...,...,...,...,...
4915,Zimbabwe,2019,ZWE,15271377.0,2.514642e+10,10.263,0.672,774.802,144.767,3.778,0.247
4916,Zimbabwe,2020,ZWE,15526888.0,2.317871e+10,8.495,0.547,783.296,147.830,3.063,0.197
4917,Zimbabwe,2021,ZWE,15797220.0,2.514009e+10,10.204,0.646,793.500,151.565,3.735,0.236
4918,Zimbabwe,2022,ZWE,16069061.0,2.590159e+10,10.425,0.649,803.925,154.944,3.379,0.210
4919,Zimbabwe,2023,ZWE,16340829.0,2.304998e+10,11.164,0.683,815.089,158.306,3.362,0.206

### Duplicates

In [81]:
# Confirm number of duplicate rows
duplicate_rows_count = duplicate_rows(df_co2).shape[0]
print(f"Number of duplicated rows: {duplicate_rows_count}")

Number of duplicated rows: 0

No duplicates found in the dataset.

### Data Format

In [82]:
# All data typing is consistent within each column
df_co2.head()

,country,year,iso_code,population,gdp,co2,co2_per_capita,cumulative_co2,cumulative_oil_co2,oil_co2,oil_co2_per_capita
0,Afghanistan,1994,AFG,16250799.0,7.919857e+09,1.454,0.089,64.941,33.346,1.032,0.064
1,Afghanistan,1995,AFG,17065836.0,1.230753e+10,1.417,0.083,66.358,34.357,1.011,0.059
2,Afghanistan,1996,AFG,17763265.0,1.207013e+10,1.370,0.077,67.728,35.343,0.986,0.055
3,Afghanistan,1997,AFG,18452100.0,1.185075e+10,1.304,0.071,69.032,36.292,0.949,0.051
4,Afghanistan,1998,AFG,19159996.0,1.169217e+10,1.279,0.067,70.311,37.234,0.942,0.049

No data formatting issues found.

### Column Typing

In [83]:
# Confirm data types of each column
column_types(df_co2)

country                object
year                    int64
iso_code               object
population            float64
gdp                   float64
co2                   float64
co2_per_capita        float64
cumulative_co2        float64
cumulative_oil_co2    float64
oil_co2               float64
oil_co2_per_capita    float64
dtype: object

In [84]:
# Convert population column to int
df_co2['population'] = df_co2['population'].astype(int)

# Convert gdp column to int as no values contain a decimal
df_co2['gdp'] = df_co2['gdp'].astype(int)

df_co2

,country,year,iso_code,population,gdp,co2,co2_per_capita,cumulative_co2,cumulative_oil_co2,oil_co2,oil_co2_per_capita
0,Afghanistan,1994,AFG,16250799,7919856640,1.454,0.089,64.941,33.346,1.032,0.064
1,Afghanistan,1995,AFG,17065836,12307525632,1.417,0.083,66.358,34.357,1.011,0.059
2,Afghanistan,1996,AFG,17763265,12070125568,1.370,0.077,67.728,35.343,0.986,0.055
3,Afghanistan,1997,AFG,18452100,11850753024,1.304,0.071,69.032,36.292,0.949,0.051
4,Afghanistan,1998,AFG,19159996,11692171264,1.279,0.067,70.311,37.234,0.942,0.049
...,...,...,...,...,...,...,...,...,...,...,...
4915,Zimbabwe,2019,ZWE,15271377,25146417152,10.263,0.672,774.802,144.767,3.778,0.247
4916,Zimbabwe,2020,ZWE,15526888,23178706944,8.495,0.547,783.296,147.830,3.063,0.197
4917,Zimbabwe,2021,ZWE,15797220,25140088832,10.204,0.646,793.500,151.565,3.735,0.236
4918,Zimbabwe,2022,ZWE,16069061,25901586432,10.425,0.649,803.925,154.944,3.379,0.210
4919,Zimbabwe,2023,ZWE,16340829,23049979833,11.164,0.683,815.089,158.306,3.362,0.206

In [85]:
# Confirm data types of each column
column_types(df_co2)

country                object
year                    int64
iso_code               object
population              int64
gdp                     int64
co2                   float64
co2_per_capita        float64
cumulative_co2        float64
cumulative_oil_co2    float64
oil_co2               float64
oil_co2_per_capita    float64
dtype: object

## Dataset 1: Additional Transformation

In [86]:
# Add additional column that will check the country and select a suitable region for association
# Define region mapping for all 255 countries in the current dataframe
region_map = {
    # Africa
    'Algeria': 'Africa', 'Angola': 'Africa', 'Benin': 'Africa', 'Botswana': 'Africa', 'Burkina Faso': 'Africa',
    'Burundi': 'Africa', 'Cabo Verde': 'Africa', 'Cameroon': 'Africa', 'Central African Republic': 'Africa',
    'Chad': 'Africa', 'Comoros': 'Africa', 'Congo': 'Africa', 'Democratic Republic of Congo': 'Africa',
    'Djibouti': 'Africa', 'Egypt': 'Africa', 'Equatorial Guinea': 'Africa', 'Eritrea': 'Africa', 'Eswatini': 'Africa',
    'Ethiopia': 'Africa', 'Gabon': 'Africa', 'Gambia': 'Africa', 'Ghana': 'Africa', 'Guinea': 'Africa',
    'Guinea-Bissau': 'Africa', 'Ivory Coast': 'Africa', "Cote d'Ivoire": 'Africa', 'Kenya': 'Africa', 'Lesotho': 'Africa',
    'Liberia': 'Africa', 'Libya': 'Africa', 'Madagascar': 'Africa', 'Malawi': 'Africa', 'Mali': 'Africa',
    'Mauritania': 'Africa', 'Mauritius': 'Africa', 'Morocco': 'Africa', 'Mozambique': 'Africa', 'Namibia': 'Africa',
    'Niger': 'Africa', 'Nigeria': 'Africa', 'Rwanda': 'Africa', 'Sao Tome and Principe': 'Africa', 'Senegal': 'Africa',
    'Seychelles': 'Africa', 'Sierra Leone': 'Africa', 'Somalia': 'Africa', 'South Africa': 'Africa', 'South Sudan': 'Africa',
    'Sudan': 'Africa', 'Tanzania': 'Africa', 'Togo': 'Africa', 'Tunisia': 'Africa', 'Uganda': 'Africa',
    'Zambia': 'Africa', 'Zimbabwe': 'Africa',

    # Asia
    'Afghanistan': 'Asia', 'Armenia': 'Asia', 'Azerbaijan': 'Asia', 'Bahrain': 'Asia', 'Bangladesh': 'Asia',
    'Bhutan': 'Asia', 'Brunei': 'Asia', 'Cambodia': 'Asia', 'China': 'Asia', 'Cyprus': 'Asia', 'Georgia': 'Asia',
    'India': 'Asia', 'Indonesia': 'Asia', 'Iran': 'Asia', 'Iraq': 'Asia', 'Israel': 'Asia', 'Japan': 'Asia',
    'Jordan': 'Asia', 'Kazakhstan': 'Asia', 'Kuwait': 'Asia', 'Kyrgyzstan': 'Asia', 'Laos': 'Asia', 'Lebanon': 'Asia',
    'Malaysia': 'Asia', 'Maldives': 'Asia', 'Mongolia': 'Asia', 'Myanmar': 'Asia', 'Nepal': 'Asia', 'North Korea': 'Asia',
    'Oman': 'Asia', 'Pakistan': 'Asia', 'Palestine': 'Asia', 'Philippines': 'Asia', 'Qatar': 'Asia', 'Saudi Arabia': 'Asia',
    'Singapore': 'Asia', 'South Korea': 'Asia', 'Sri Lanka': 'Asia', 'Syria': 'Asia', 'Taiwan': 'Asia', 'Tajikistan': 'Asia',
    'Thailand': 'Asia', 'Timor': 'Asia', 'East Timor': 'Asia', 'Turkey': 'Asia', 'Turkmenistan': 'Asia', 'United Arab Emirates': 'Asia',
    'Uzbekistan': 'Asia', 'Vietnam': 'Asia', 'Yemen': 'Asia',

    # Europe
    'Albania': 'Europe', 'Andorra': 'Europe', 'Austria': 'Europe', 'Belarus': 'Europe', 'Belgium': 'Europe',
    'Bosnia and Herzegovina': 'Europe', 'Bulgaria': 'Europe', 'Croatia': 'Europe', 'Czechia': 'Europe', 'Denmark': 'Europe',
    'Estonia': 'Europe', 'Finland': 'Europe', 'France': 'Europe', 'Germany': 'Europe', 'Greece': 'Europe', 'Hungary': 'Europe',
    'Iceland': 'Europe', 'Ireland': 'Europe', 'Italy': 'Europe', 'Kosovo': 'Europe', 'Latvia': 'Europe', 'Liechtenstein': 'Europe',
    'Lithuania': 'Europe', 'Luxembourg': 'Europe', 'Malta': 'Europe', 'Moldova': 'Europe', 'Monaco': 'Europe', 'Montenegro': 'Europe',
    'Netherlands': 'Europe', 'North Macedonia': 'Europe', 'Norway': 'Europe', 'Poland': 'Europe', 'Portugal': 'Europe',
    'Romania': 'Europe', 'Russia': 'Europe', 'San Marino': 'Europe', 'Serbia': 'Europe', 'Slovakia': 'Europe', 'Slovenia': 'Europe',
    'Spain': 'Europe', 'Sweden': 'Europe', 'Switzerland': 'Europe', 'Ukraine': 'Europe', 'United Kingdom': 'Europe', 'Vatican': 'Europe',

    # North America
    'Antigua and Barbuda': 'North America', 'Bahamas': 'North America', 'Barbados': 'North America', 'Belize': 'North America',
    'Canada': 'North America', 'Costa Rica': 'North America', 'Cuba': 'North America', 'Dominica': 'North America',
    'Dominican Republic': 'North America', 'El Salvador': 'North America', 'Grenada': 'North America', 'Guatemala': 'North America',
    'Haiti': 'North America', 'Honduras': 'North America', 'Jamaica': 'North America', 'Mexico': 'North America',
    'Nicaragua': 'North America', 'Panama': 'North America', 'Saint Kitts and Nevis': 'North America', 'Saint Lucia': 'North America',
    'Saint Vincent and the Grenadines': 'North America', 'Trinidad and Tobago': 'North America', 'United States': 'North America',

    # South America
    'Argentina': 'South America', 'Bolivia': 'South America', 'Brazil': 'South America', 'Chile': 'South America',
    'Colombia': 'South America', 'Ecuador': 'South America', 'Guyana': 'South America', 'Paraguay': 'South America',
    'Peru': 'South America', 'Suriname': 'South America', 'Uruguay': 'South America', 'Venezuela': 'South America',

    # Oceania
    'Australia': 'Oceania', 'Fiji': 'Oceania', 'Kiribati': 'Oceania', 'Marshall Islands': 'Oceania', 'Micronesia (country)': 'Oceania',
    'Nauru': 'Oceania', 'New Zealand': 'Oceania', 'Palau': 'Oceania', 'Papua New Guinea': 'Oceania', 'Samoa': 'Oceania',
    'Solomon Islands': 'Oceania', 'Tonga': 'Oceania', 'Tuvalu': 'Oceania', 'Vanuatu': 'Oceania',

    # Other/Unclassified
    'Hong Kong': 'Other', 'Macao': 'Other', 'Greenland': 'Other', 'Bermuda': 'Other', 'Aruba': 'Other',
    'Curaçao': 'Other', 'Sint Maarten (Dutch part)': 'Other', 'Bonaire Sint Eustatius and Saba': 'Other',
    'Montserrat': 'Other', 'Anguilla': 'Other', 'British Virgin Islands': 'Other', 'Cayman Islands': 'Other',
    'Falkland Islands': 'Other', 'French Polynesia': 'Other', 'Gibraltar': 'Other', 'Guadeloupe': 'Other',
    'Martinique': 'Other', 'Mayotte': 'Other', 'New Caledonia': 'Other', 'Niue': 'Other', 'Réunion': 'Other',
    'Saint Helena': 'Other', 'Saint Pierre and Miquelon': 'Other', 'Turks and Caicos Islands': 'Other',
    'Wallis and Futuna': 'Other', 'Faroe Islands': 'Other', 'Saint Barthélemy': 'Other', 'Saint Martin (French part)': 'Other',
    'Kosovo': 'Other', 'Ryukyu Islands': 'Other', 'Ryukyu Islands (GCP)': 'Other', 'Kuwaiti Oil Fires': 'Other',
    'Kuwaiti Oil Fires (GCP)': 'Other', 'Christmas Island': 'Other'
}

def assign_region(country):
    return region_map.get(country, 'Other')

df_co2['region'] = df_co2['country'].apply(assign_region)

In [87]:
df_co2

,country,year,iso_code,population,gdp,co2,co2_per_capita,cumulative_co2,cumulative_oil_co2,oil_co2,oil_co2_per_capita,region
0,Afghanistan,1994,AFG,16250799,7919856640,1.454,0.089,64.941,33.346,1.032,0.064,Asia
1,Afghanistan,1995,AFG,17065836,12307525632,1.417,0.083,66.358,34.357,1.011,0.059,Asia
2,Afghanistan,1996,AFG,17763265,12070125568,1.370,0.077,67.728,35.343,0.986,0.055,Asia
3,Afghanistan,1997,AFG,18452100,11850753024,1.304,0.071,69.032,36.292,0.949,0.051,Asia
4,Afghanistan,1998,AFG,19159996,11692171264,1.279,0.067,70.311,37.234,0.942,0.049,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...
4915,Zimbabwe,2019,ZWE,15271377,25146417152,10.263,0.672,774.802,144.767,3.778,0.247,Africa
4916,Zimbabwe,2020,ZWE,15526888,23178706944,8.495,0.547,783.296,147.830,3.063,0.197,Africa
4917,Zimbabwe,2021,ZWE,15797220,25140088832,10.204,0.646,793.500,151.565,3.735,0.236,Africa
4918,Zimbabwe,2022,ZWE,16069061,25901586432,10.425,0.649,803.925,154.944,3.379,0.210,Africa
4919,Zimbabwe,2023,ZWE,16340829,23049979833,11.164,0.683,815.089,158.306,3.362,0.206,Africa

In [88]:
# Check for null in region
print(f"Missing regions: {df_co2['region'].isnull().sum()}")

Missing regions: 0

## Dataset 2: Global Energy Consumption

In [89]:
# Import dataset into df_energy dataframe
df_energy = import_data('../data/extract/data1.csv')

# Drop unnecessary index column
df_energy.drop(columns=['Unnamed: 0'], inplace=True, errors='ignore')
df_energy

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23190,Zimbabwe,2020,ZWE,15526837.0,2.317871e+10,NaN,0.0,0.0,0.0,6.440,...,0.298,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
23191,Zimbabwe,2021,ZWE,15797165.0,2.514009e+10,NaN,0.0,0.0,0.0,6.963,...,0.233,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
23192,Zimbabwe,2022,ZWE,16069010.0,2.590159e+10,NaN,0.0,0.0,0.0,6.845,...,0.336,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
23193,Zimbabwe,2023,ZWE,16340778.0,NaN,NaN,0.0,0.0,0.0,7.344,...,0.361,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
23194,Zimbabwe,2024,ZWE,16634317.0,NaN,NaN,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
countries = df_energy['country'].unique()
countries_count = len(countries)
countries_count

314

314 unique countries counted within dataset.

In [91]:
df_energy = df_energy.groupby(['country', 'year']).agg('sum').reset_index()
df_energy

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ASEAN (Ember),2001,0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ASEAN (Ember),2002,0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ASEAN (Ember),2003,0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ASEAN (Ember),2004,0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23190,Zimbabwe,2020,ZWE,15526837.0,2.317871e+10,0.0,0.0,0.0,0.0,6.440,...,0.298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23191,Zimbabwe,2021,ZWE,15797165.0,2.514009e+10,0.0,0.0,0.0,0.0,6.963,...,0.233,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23192,Zimbabwe,2022,ZWE,16069010.0,2.590159e+10,0.0,0.0,0.0,0.0,6.845,...,0.336,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23193,Zimbabwe,2023,ZWE,16340778.0,0.000000e+00,0.0,0.0,0.0,0.0,7.344,...,0.361,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23194,Zimbabwe,2024,ZWE,16634317.0,0.000000e+00,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [92]:
# Count of how many times each year is covered
year_counts = df_energy['year'].value_counts()
year_counts

year
2005    308
2012    308
2015    308
2014    308
2013    308
       ...
1940    118
1936    118
1949    118
1950    118
1951    118
Name: count, Length: 125, dtype: int64

In [93]:
# List which years appear 308 times
years_308 = year_counts[year_counts == 308].index.tolist()
print(f"All years appearing 308 times: {years_308}")

All years appearing 308 times: [2005, 2012, 2015, 2014, 2013, 2016]

In [94]:
# Drop years that are not between 1994 and 2023, as done with dataset 1 in preparation for enrichment
df_energy = df_energy[(df_energy['year'] >= 1994) & (df_energy['year'] <= 2023)]
df_energy

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ASEAN (Ember),2001,0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ASEAN (Ember),2002,0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ASEAN (Ember),2003,0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ASEAN (Ember),2004,0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23189,Zimbabwe,2019,ZWE,15271330.0,2.514642e+10,0.0,0.0,0.0,0.0,12.442,...,0.236,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23190,Zimbabwe,2020,ZWE,15526837.0,2.317871e+10,0.0,0.0,0.0,0.0,6.440,...,0.298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23191,Zimbabwe,2021,ZWE,15797165.0,2.514009e+10,0.0,0.0,0.0,0.0,6.963,...,0.233,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23192,Zimbabwe,2022,ZWE,16069010.0,2.590159e+10,0.0,0.0,0.0,0.0,6.845,...,0.336,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23193,Zimbabwe,2023,ZWE,16340778.0,0.000000e+00,0.0,0.0,0.0,0.0,7.344,...,0.361,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Records dropped from 23195 to 9036

### Nulls

In [95]:
# Calculate the percentage of null values in each column
nulls_energy = pd.Series(null_percentage(df_energy))
# Due to dropping rows, nulls are now set to 0.0
nulls_energy = pd.Series(count_zeros(df_energy))
nulls_energy

country                    0.000000
year                       0.000000
iso_code                  27.412572
population                23.505976
gdp                       47.089420
                            ...
wind_elec_per_capita      74.258521
wind_electricity          65.172643
wind_energy_per_capita    78.065516
wind_share_elec           65.250111
wind_share_energy         73.140770
Length: 130, dtype: float64

In [96]:
# Display rows with iso codes that are equal to 0
df_energy[df_energy['iso_code'] == 0]

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,0,0.000000e+00,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,0.000,0.000
1,ASEAN (Ember),2001,0,0.000000e+00,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,0.000,0.000
2,ASEAN (Ember),2002,0,0.000000e+00,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,0.000,0.000
3,ASEAN (Ember),2003,0,0.000000e+00,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,0.000,0.000
4,ASEAN (Ember),2004,0,0.000000e+00,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22802,World,2019,0,7.811294e+09,1.221494e+14,8.519,88.498,144.318,1127.314,74.143,...,2.623,1.076,11.884,358.285,3520.444,181.890,1420.80,450.686,5.291,2.166
22803,World,2020,0,7.887001e+09,1.185900e+14,-5.241,-59.084,135.442,1068.230,78.003,...,3.198,1.350,12.199,419.721,3940.165,201.771,1591.37,499.577,5.951,2.513
22804,World,2021,0,7.954448e+09,1.260048e+14,5.606,59.890,141.822,1128.119,84.138,...,3.726,1.573,16.597,642.617,4582.781,233.410,1856.65,576.128,6.567,2.781
22805,World,2022,0,8.021407e+09,1.301126e+14,5.763,65.012,148.743,1193.131,85.375,...,4.597,1.937,13.411,601.820,5184.602,262.663,2106.93,646.346,7.284,3.090
22806,World,2023,0,8.091735e+09,0.000000e+00,10.568,126.085,163.033,1319.216,85.404,...,5.581,2.357,10.075,480.606,5665.208,285.740,2312.13,700.123,7.789,3.317

In [97]:
# Display countries that have iso codes equal to 0
df_energy[df_energy['iso_code'] == 0]['country'].unique()

array(['ASEAN (Ember)', 'Africa', 'Africa (EI)', 'Africa (EIA)',
       'Africa (Ember)', 'Africa (Shift)', 'Asia', 'Asia & Oceania (EIA)',
       'Asia (Ember)', 'Asia Pacific (EI)', 'Asia and Oceania (Shift)',
       'Australia and New Zealand (EIA)', 'CIS (EI)',
       'Central & South America (EIA)', 'Central America (EI)',
       'Central and South America (Shift)', 'EU (Ember)', 'EU28 (Shift)',
       'Eastern Africa (EI)', 'Eastern Europe and Eurasia (EIA)',
       'Eurasia (EIA)', 'Eurasia (Shift)', 'Europe', 'Europe (EI)',
       'Europe (EIA)', 'Europe (Ember)', 'Europe (Shift)',
       'European Union (27)', 'G20 (Ember)', 'G7 (Ember)',
       'High-income countries', 'Kosovo',
       'Latin America and Caribbean (Ember)', 'Low-income countries',
       'Lower-middle-income countries', 'Middle Africa (EI)',
       'Middle East (EI)', 'Middle East (EIA)', 'Middle East (Ember)',
       'Middle East (Shift)', 'Non-OECD (EI)', 'Non-OECD (EIA)',
       'Non-OPEC (EI)', 'Non-OPEC (EIA)', 'North America',
       'North America (EI)', 'North America (Ember)',
       'North America (Shift)', 'OECD (EI)', 'OECD (EIA)', 'OECD (Ember)',
       'OECD (Shift)', 'OPEC (EI)', 'OPEC (EIA)', 'OPEC (Shift)',
       'Oceania', 'Oceania (Ember)', 'Other Africa (EI)',
       'Other Americas (EIA)', 'Other Asia Pacific (EI)',
       'Other Asia-Pacific (EIA)', 'Other CIS (EI)',
       'Other Caribbean (EI)', 'Other Eastern Africa (EI)',
       'Other Europe (EI)', 'Other Middle Africa (EI)',
       'Other Middle East (EI)', 'Other North America (EI)',
       'Other Northern Africa (EI)', 'Other South America (EI)',
       'Other South and Central America (EI)',
       'Other Southern Africa (EI)', 'Other Western Africa (EI)',
       'Persian Gulf (EIA)', 'Persian Gulf (Shift)', 'Rest of World (EI)',
       'Serbia and Montenegro', 'South America',
       'South and Central America (EI)', 'U.S. Pacific Islands (EIA)',
       'U.S. Territories (EIA)', 'United States Pacific Islands (Shift)',
       'United States Territories (Shift)',
       'Upper-middle-income countries', 'Wake Island (EIA)',
       'Wake Island (Shift)', 'Western Africa (EI)',
       'Western Europe (EIA)', 'World'], dtype=object)

Countries are aggregated without iso codes. Removing rows with iso codes equal to 0.

In [98]:
df_energy = df_energy[df_energy['iso_code'] != 0].reset_index(drop=True)
df_energy

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,Afghanistan,1994,AFG,16250755.0,7.919857e+09,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,1995,AFG,17065794.0,1.230753e+10,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,1996,AFG,17763221.0,1.207013e+10,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,1997,AFG,18452049.0,1.185075e+10,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,1998,AFG,19159955.0,1.169217e+10,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6554,Zimbabwe,2019,ZWE,15271330.0,2.514642e+10,0.0,0.0,0.0,0.0,12.442,...,0.236,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6555,Zimbabwe,2020,ZWE,15526837.0,2.317871e+10,0.0,0.0,0.0,0.0,6.440,...,0.298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6556,Zimbabwe,2021,ZWE,15797165.0,2.514009e+10,0.0,0.0,0.0,0.0,6.963,...,0.233,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6557,Zimbabwe,2022,ZWE,16069010.0,2.590159e+10,0.0,0.0,0.0,0.0,6.845,...,0.336,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6558,Zimbabwe,2023,ZWE,16340778.0,0.000000e+00,0.0,0.0,0.0,0.0,7.344,...,0.361,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [99]:
# Display new count zero percentages
nulls_energy = pd.Series(count_zeros(df_energy))
nulls_energy

country                    0.000000
year                       0.000000
iso_code                   0.000000
population                 0.655588
gdp                       27.260253
                            ...
wind_elec_per_capita      69.812471
wind_electricity          69.842964
wind_energy_per_capita    74.782741
wind_share_elec           69.903949
wind_share_energy         75.728007
Length: 130, dtype: float64

In [100]:
# Display records where population is zero
df_energy[df_energy['population'] == 0]

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
150,Antarctica,1994,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151,Antarctica,1995,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
152,Antarctica,1996,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
153,Antarctica,1997,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
154,Antarctica,1998,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
155,Antarctica,1999,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
156,Antarctica,2000,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
157,Antarctica,2001,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
158,Antarctica,2002,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
159,Antarctica,2003,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
160,Antarctica,2004,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161,Antarctica,2005,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162,Antarctica,2006,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
163,Antarctica,2007,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
164,Antarctica,2008,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165,Antarctica,2009,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
166,Antarctica,2010,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
167,Antarctica,2011,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
168,Antarctica,2012,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
169,Antarctica,2013,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
170,Antarctica,2014,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
171,Antarctica,2015,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
172,Antarctica,2016,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
173,Antarctica,2017,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
174,Antarctica,2018,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175,Antarctica,2019,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
176,Antarctica,2020,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
177,Antarctica,2021,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
178,Antarctica,2022,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
179,Antarctica,2023,ATA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4167,Netherlands Antilles,2011,ANT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4168,Netherlands Antilles,2012,ANT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4169,Netherlands Antilles,2013,ANT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4170,Netherlands Antilles,2014,ANT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4171,Netherlands Antilles,2015,ANT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4172,Netherlands Antilles,2016,ANT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4173,Netherlands Antilles,2017,ANT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4174,Netherlands Antilles,2018,ANT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4175,Netherlands Antilles,2019,ANT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4176,Netherlands Antilles,2020,ANT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4177,Netherlands Antilles,2021,ANT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4178,Netherlands Antilles,2022,ANT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4179,Netherlands Antilles,2023,ANT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [101]:
# Drop records where population is zero
df_energy = df_energy[df_energy['population'] != 0].reset_index(drop=True)
df_energy

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,Afghanistan,1994,AFG,16250755.0,7.919857e+09,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,1995,AFG,17065794.0,1.230753e+10,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,1996,AFG,17763221.0,1.207013e+10,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,1997,AFG,18452049.0,1.185075e+10,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,1998,AFG,19159955.0,1.169217e+10,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6511,Zimbabwe,2019,ZWE,15271330.0,2.514642e+10,0.0,0.0,0.0,0.0,12.442,...,0.236,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6512,Zimbabwe,2020,ZWE,15526837.0,2.317871e+10,0.0,0.0,0.0,0.0,6.440,...,0.298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6513,Zimbabwe,2021,ZWE,15797165.0,2.514009e+10,0.0,0.0,0.0,0.0,6.963,...,0.233,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6514,Zimbabwe,2022,ZWE,16069010.0,2.590159e+10,0.0,0.0,0.0,0.0,6.845,...,0.336,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6515,Zimbabwe,2023,ZWE,16340778.0,0.000000e+00,0.0,0.0,0.0,0.0,7.344,...,0.361,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [102]:
# Iso code, population and gdp are shared with dataset one.
# Dropping unnecessary columns to prevent duplication in merge
df_energy = df_energy.drop(columns=['iso_code', 'population', 'gdp'])
df_energy

,country,year,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,biofuel_electricity,biofuel_share_elec,biofuel_share_energy,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,Afghanistan,1994,0.0,0.0,0.0,0.0,0.000,0.00,0.000,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,1995,0.0,0.0,0.0,0.0,0.000,0.00,0.000,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,1996,0.0,0.0,0.0,0.0,0.000,0.00,0.000,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,1997,0.0,0.0,0.0,0.0,0.000,0.00,0.000,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,1998,0.0,0.0,0.0,0.0,0.000,0.00,0.000,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6511,Zimbabwe,2019,0.0,0.0,0.0,0.0,12.442,0.19,2.241,0.0,...,0.236,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6512,Zimbabwe,2020,0.0,0.0,0.0,0.0,6.440,0.10,1.490,0.0,...,0.298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6513,Zimbabwe,2021,0.0,0.0,0.0,0.0,6.963,0.11,1.284,0.0,...,0.233,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6514,Zimbabwe,2022,0.0,0.0,0.0,0.0,6.845,0.11,1.230,0.0,...,0.336,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6515,Zimbabwe,2023,0.0,0.0,0.0,0.0,7.344,0.12,1.444,0.0,...,0.361,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [103]:
# Check new null percentages
nulls_energy = pd.Series(count_zeros(df_energy))
nulls_energy.sort_values(ascending=True)

country                                          0.000000
year                                             0.000000
energy_per_capita                                2.900552
primary_energy_consumption                       2.900552
energy_cons_change_pct                           4.972376
                                                  ...
nuclear_share_energy                            86.049724
nuclear_cons_change_pct                         86.111111
other_renewable_exc_biofuel_electricity         92.265193
other_renewables_elec_per_capita_exc_biofuel    92.265193
other_renewables_share_elec_exc_biofuel         92.265193
Length: 127, dtype: float64

Dataset consist of 127 columns with large amounts of missing data.
Prioritize columns with less than 5% missing data for analysis.

In [104]:
# Return a list of columns with less than 5% missing data
columns_to_keep = nulls_energy[nulls_energy <= 5].index.tolist()
print(f"Columns with less than 5% missing data: {columns_to_keep}")

# Drop columns with more than 5% missing data
df_energy = df_energy[columns_to_keep]
df_energy

Columns with less than 5% missing data: ['country', 'year', 'energy_cons_change_pct', 'energy_per_capita', 'primary_energy_consumption']

,country,year,energy_cons_change_pct,energy_per_capita,primary_energy_consumption
0,Afghanistan,1994,-3.487,484.347,7.871
1,Afghanistan,1995,-16.202,386.491,6.596
2,Afghanistan,1996,-0.651,368.900,6.553
3,Afghanistan,1997,-3.917,341.219,6.296
4,Afghanistan,1998,-2.232,321.279,6.156
...,...,...,...,...,...
6511,Zimbabwe,2019,-8.731,2603.889,39.765
6512,Zimbabwe,2020,-15.539,2163.075,33.586
6513,Zimbabwe,2021,12.059,2382.443,37.636
6514,Zimbabwe,2022,55.118,3633.079,58.380
6515,Zimbabwe,2023,-10.952,3181.371,51.986

In [105]:
# Dropping energy_cons_change_pct column as can be derived from energy_consumption and population
df_energy = df_energy.drop(columns=['energy_cons_change_pct'])
df_energy

          country  year  energy_per_capita  primary_energy_consumption
0     Afghanistan  1994            484.347                       7.871
1     Afghanistan  1995            386.491                       6.596
2     Afghanistan  1996            368.900                       6.553
3     Afghanistan  1997            341.219                       6.296
4     Afghanistan  1998            321.279                       6.156
...           ...   ...                ...                         ...
6511     Zimbabwe  2019           2603.889                      39.765
6512     Zimbabwe  2020           2163.075                      33.586
6513     Zimbabwe  2021           2382.443                      37.636
6514     Zimbabwe  2022           3633.079                      58.380
6515     Zimbabwe  2023           3181.371                      51.986

[6516 rows x 4 columns]

In [106]:
# Check new zero values
nulls_energy = pd.Series(count_zeros(df_energy))
nulls_energy

country                       0.000000
year                          0.000000
energy_per_capita             2.900552
primary_energy_consumption    2.900552
dtype: float64

In [107]:

# Fill values of 0 with the mean of the rest of that column, for numeric columns only
# Fill values of 0 with the mean of the rest of that column, for numeric columns only, grouped by country
numeric_cols = df_energy.select_dtypes(include='number').columns
for col in numeric_cols:
    df_energy[col] = df_energy.groupby('country')[col].transform(lambda x: x.mask(x == 0, x[x != 0].mean()))
df_energy

          country  year  energy_per_capita  primary_energy_consumption
0     Afghanistan  1994            484.347                       7.871
1     Afghanistan  1995            386.491                       6.596
2     Afghanistan  1996            368.900                       6.553
3     Afghanistan  1997            341.219                       6.296
4     Afghanistan  1998            321.279                       6.156
...           ...   ...                ...                         ...
6511     Zimbabwe  2019           2603.889                      39.765
6512     Zimbabwe  2020           2163.075                      33.586
6513     Zimbabwe  2021           2382.443                      37.636
6514     Zimbabwe  2022           3633.079                      58.380
6515     Zimbabwe  2023           3181.371                      51.986

[6516 rows x 4 columns]

In [108]:
# Check for zero values
nulls_energy = pd.Series(count_zeros(df_energy))
nulls_energy

country                       0.0
year                          0.0
energy_per_capita             0.0
primary_energy_consumption    0.0
dtype: float64

## Merge of dataset 1 and dataset 2

In [114]:
# Merge dataset on index of joint 'country' and 'year'
df_merged = df_co2.merge(df_energy, on=['country', 'year'], how='left')
# print only records that are null
df_merged[df_merged[['energy_per_capita', 'primary_energy_consumption']].isnull().any(axis=1)]

,country,year,iso_code,population,gdp,co2,co2_per_capita,cumulative_co2,cumulative_oil_co2,oil_co2,oil_co2_per_capita,region,energy_per_capita,primary_energy_consumption
2970,Montenegro,1994,MNE,629890,1915098624,1.257,1.995,53.182,12.379,0.200,0.318,Europe,NaN,NaN
2971,Montenegro,1995,MNE,631386,2226638592,1.327,2.102,54.510,12.592,0.213,0.338,Europe,NaN,NaN
2972,Montenegro,1996,MNE,632625,2909671936,1.553,2.455,56.063,13.025,0.433,0.685,Europe,NaN,NaN
2973,Montenegro,1997,MNE,633538,3194862336,1.670,2.636,57.733,13.602,0.577,0.911,Europe,NaN,NaN
2974,Montenegro,1998,MNE,634099,3442988032,1.758,2.772,59.490,14.114,0.512,0.807,Europe,NaN,NaN
2975,Montenegro,1999,MNE,634280,3205303552,1.212,1.911,60.702,14.367,0.253,0.398,Europe,NaN,NaN
2976,Montenegro,2000,MNE,634198,3766655744,1.521,2.398,62.223,14.658,0.291,0.459,Europe,NaN,NaN
2977,Montenegro,2001,MNE,634000,4003584768,1.667,2.630,63.890,15.142,0.483,0.762,Europe,NaN,NaN
2978,Montenegro,2002,MNE,633767,4290322944,1.766,2.787,65.656,15.686,0.545,0.860,Europe,NaN,NaN
2979,Montenegro,2003,MNE,633561,4622735872,1.889,2.982,67.546,16.287,0.600,0.947,Europe,NaN,NaN
2980,Montenegro,2004,MNE,633755,5084312064,2.041,3.221,69.587,16.983,0.697,1.099,Europe,NaN,NaN
3450,Palestine,1994,PSE,2529164,13843761152,0.967,0.382,4.562,4.562,0.967,0.382,Asia,NaN,NaN
3451,Palestine,1995,PSE,2636554,14426653696,0.945,0.359,5.507,5.507,0.945,0.359,Asia,NaN,NaN
3452,Palestine,1996,PSE,2746830,14210402304,1.037,0.377,6.544,6.544,1.037,0.377,Asia,NaN,NaN

Confirmed length of combined table 4920. All records are accounted for.

In [110]:
# Rearrange so that 'region' appears after 'country'
df_merged = df_merged[['country', 'region'] + [col for col in df_merged.columns if col not in ['country', 'region']]]
df_merged

,country,region,year,iso_code,population,gdp,co2,co2_per_capita,cumulative_co2,cumulative_oil_co2,oil_co2,oil_co2_per_capita,energy_per_capita,primary_energy_consumption
0,Afghanistan,Asia,1994,AFG,16250799,7919856640,1.454,0.089,64.941,33.346,1.032,0.064,484.347,7.871
1,Afghanistan,Asia,1995,AFG,17065836,12307525632,1.417,0.083,66.358,34.357,1.011,0.059,386.491,6.596
2,Afghanistan,Asia,1996,AFG,17763265,12070125568,1.370,0.077,67.728,35.343,0.986,0.055,368.900,6.553
3,Afghanistan,Asia,1997,AFG,18452100,11850753024,1.304,0.071,69.032,36.292,0.949,0.051,341.219,6.296
4,Afghanistan,Asia,1998,AFG,19159996,11692171264,1.279,0.067,70.311,37.234,0.942,0.049,321.279,6.156
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4915,Zimbabwe,Africa,2019,ZWE,15271377,25146417152,10.263,0.672,774.802,144.767,3.778,0.247,2603.889,39.765
4916,Zimbabwe,Africa,2020,ZWE,15526888,23178706944,8.495,0.547,783.296,147.830,3.063,0.197,2163.075,33.586
4917,Zimbabwe,Africa,2021,ZWE,15797220,25140088832,10.204,0.646,793.500,151.565,3.735,0.236,2382.443,37.636
4918,Zimbabwe,Africa,2022,ZWE,16069061,25901586432,10.425,0.649,803.925,154.944,3.379,0.210,3633.079,58.380
4919,Zimbabwe,Africa,2023,ZWE,16340829,23049979833,11.164,0.683,815.089,158.306,3.362,0.206,3181.371,51.986

In [111]:
# Drop iso_code columns as no longer relevant
df_merged = df_merged.drop(columns=['iso_code'], errors='ignore')
df_merged

,country,region,year,population,gdp,co2,co2_per_capita,cumulative_co2,cumulative_oil_co2,oil_co2,oil_co2_per_capita,energy_per_capita,primary_energy_consumption
0,Afghanistan,Asia,1994,16250799,7919856640,1.454,0.089,64.941,33.346,1.032,0.064,484.347,7.871
1,Afghanistan,Asia,1995,17065836,12307525632,1.417,0.083,66.358,34.357,1.011,0.059,386.491,6.596
2,Afghanistan,Asia,1996,17763265,12070125568,1.370,0.077,67.728,35.343,0.986,0.055,368.900,6.553
3,Afghanistan,Asia,1997,18452100,11850753024,1.304,0.071,69.032,36.292,0.949,0.051,341.219,6.296
4,Afghanistan,Asia,1998,19159996,11692171264,1.279,0.067,70.311,37.234,0.942,0.049,321.279,6.156
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4915,Zimbabwe,Africa,2019,15271377,25146417152,10.263,0.672,774.802,144.767,3.778,0.247,2603.889,39.765
4916,Zimbabwe,Africa,2020,15526888,23178706944,8.495,0.547,783.296,147.830,3.063,0.197,2163.075,33.586
4917,Zimbabwe,Africa,2021,15797220,25140088832,10.204,0.646,793.500,151.565,3.735,0.236,2382.443,37.636
4918,Zimbabwe,Africa,2022,16069061,25901586432,10.425,0.649,803.925,154.944,3.379,0.210,3633.079,58.380
4919,Zimbabwe,Africa,2023,16340829,23049979833,11.164,0.683,815.089,158.306,3.362,0.206,3181.371,51.986